[submodule "themes/hugo-kskpd-theme"]
	path = themes/hugo-kskpd-theme
	url = git@github.com:Kronika-Polskiej-Demosceny/hugo-kskpd-theme.git
[submodule "build"]
	path = build
	url = git@github.com:Kronika-Polskiej-Demosceny/kskpd.pl.git
