<section class="bg-light section">
    <div class="container bg-stats">
        <div class="row">
            <div class="col-lg-3">
                <div class="fun_box mt-3 text-center p-3">
                    <h2 class="text-white font-weight-bold"><span class="web_count" data-count="6239">6239</span></h2>
                    <p class="text-white mb-0">Productions</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="fun_box mt-3 text-center p-3">
                    <h2 class="text-white font-weight-bold"><span class="web_count" data-count="156">156</span></h2>
                    <p class="text-white mb-0">Parties</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="fun_box mt-3 text-center p-3">
                    <h2 class="text-white font-weight-bold"><span class="web_count" data-count="867">867</span></h2>
                    <p class="text-white mb-0">Authors</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="fun_box mt-3 text-center p-3">
                    <h2 class="text-white font-weight-bold"><span class="web_count" data-count="12">12</span></h2>
                    <p class="text-white mb-0">Publications</p>
                </div>
            </div>
        </div>
    </div>
</section>