{{ with .Site.Params.support }}
<section class="img_logo section">
    <div class="container rounded">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center section_title">
                    <div class="section_title_border">
                        <div class="f-border"></div>
                        <div class="s-border"></div>
                        <div class="f-border"></div>
                        <p class="sec_small_title mb-0 text-custom d-inline-block">{{ .header }}</p>
                        <div class="f-border"></div>
                        <div class="s-border"></div>
                        <div class="f-border"></div>
                    </div>
                    <h3 class="font-weight-bold mt-3 mb-0">{{ .title }}</h3>
                    <p class="text-muted sec_subtitle mx-auto mt-3">{{ .description }}</p>
                </div>
            </div>
        </div>
        <div class="row mt-5 justify-content-center align-self-center">
        {{ range $k, $v := .partners }}
            <div class="col-sm-3 align-self-center py-3">
                <a href="{{ $v.url }}"><picture class="mx-auto img-fluid d-block">
                    <source srcset="images/support/{{$v.tag}}.webp" type="image/webp"/>
                    <source srcset="images/support/{{$v.tag}}.png" type="image/png"/>
                    <img src="images/support/{{$v.tag}}.png" alt="{{ $v.alt }}" title="{{$v.alt}}" class="mx-auto img-fluid d-block">
                </picture></a>
            </div>
        {{ if mod $k 4 | eq 3 }}
        <div class="w-100"></div>
        {{ end }}
        {{ end }}
        </div>
    </div>
</section>
{{end}}