{{ with .Site.Params.team }}
<section class="section bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center section_title">
                    <div class="section_title_border">
                        <div class="f-border"></div>
                        <div class="s-border"></div>
                        <div class="f-border"></div>
                        <p class="sec_small_title mb-0 text-custom d-inline-block">{{ .header }}</p>
                        <div class="f-border"></div>
                        <div class="s-border"></div>
                        <div class="f-border"></div>
                    </div>
                    <h3 class="font-weight-bold mt-3 mb-0">{{ .title }}</h3>
                    <p class="text-muted sec_subtitle mx-auto mt-3">{{ .description }}</p>
                </div>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
        {{ range $k, $v := .team }}



        <div class="col-sm">
            <div class="team_boxes_border mt-5">
                <div class="team_images">
                    <picture class="img-fluid mx-auto d-block rounded">
                        <source srcset="images/{{.nick}}.webp" type="image/webp"/>
                        <source srcset="images/{{.nick}}.jpg" type="image/jpg"/>
                        <img class="img-fluid mx-auto d-block rounded" src="images/{{.nick}}.jpg" alt="">
                    </picture>
                </div>
                <div class="team_content ml-3 mr-3 text-center">
                    <h5 class="font-weight-bold mb-1">{{ replace .name " " "<br/>" | safeHTML }}</h5>
                    <div class="mt-3">
                        <ul class="list-inline follow_team_social mb-0">
                            {{ range first 3 .social}}
                            <li class="list-inline-item"><a href="{{.url}}"><i class="{{.style}}"></i></a></li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {{ if mod $k 3 | eq 2 }}
        <div class="w-100"></div>
        {{ end }}
        {{ end }}
        </div>
    </div>
</section>
{{ end }}