<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
		{{ partial "head.html" .}}
    </head>    
    <body>
		{{ partial "navbar.html" .}}
		{{ partial "home-single.html" .}}
    

    <section class="section bg-light timeline_toc">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="text-center section_title">
                      <div class="section_title_border">
                          <div class="f-border"></div>
                          <div class="s-border"></div>
                          <div class="f-border"></div>
                          <p class="sec_small_title mb-0 text-custom d-inline-block">Linia Czasu</p>
                          <div class="f-border"></div>
                          <div class="s-border"></div>
                          <div class="f-border"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
            {{ $items := (sort .Data.Pages ".Params.year" "asc") }}
            {{ $decades := slice }}
            {{ $years := slice }}
            {{ $menu_items_year := slice }}
            {{ $menu_items_label := slice }}
            {{ $menu_items_ishort := slice }}
            {{ range $i, $v := $items }}
              {{ $decade := substr $v.Params.year 0 3 }}
              {{ $year := substr $v.Params.year 0 4 }}
              {{ if $year | in $years }}
              {{ else }}
                {{ if $decade | in $decades }}
                  {{ $y := substr $v.Params.year 3 1 }}
                  {{ $menu_items_label = $menu_items_label | append $y}}
                  {{ $menu_items_year = $menu_items_year | append $year}}
                  {{ $menu_items_ishort = $menu_items_ishort | append 1}}
                {{ else }}
                  {{ $decades = $decades | append $decade }}
                  {{ $menu_items_label = $menu_items_label | append $year}}
                  {{ $menu_items_year = $menu_items_year | append $year}}
                  {{ $menu_items_ishort = $menu_items_ishort | append 0}}
                {{ end }}
                {{ $years = $years | append $year }}
              {{ end }}
            {{ end  }}
              <div class="col-lg-12 text-center"><ul>
                {{ range $i, $v := $menu_items_label }}
                  <li><a href="{{ $.Page.CurrentSection.Permalink }}#start_{{ index $menu_items_year $i }}" class="{{if index $menu_items_ishort $i | eq 1}}short{{end}}">{{ index $v }}</a></li>
                {{end}}
              </ul></div>
          </div>
      </div>
  </section>

  <section class="section bg-light mt-0 pt-0">
    <div class="container">
      <ul class="timeline">
        {{ $items := (sort .Data.Pages ".Params.year" "asc") }}
        {{ $size := len $items }}
        {{ $months_str := slice "jan" "feb" "mar" "apr" "may" "jun" "jul" "aug" "sep" "oct" "nov" "dec" }}
        {{ $years := slice }}
        {{ range $i, $v := $items }}
          <li>
            {{ $date_arr := split $v.Params.year "-" }}
            {{ $year := index $date_arr 0 }}
            {{ if $year | in $years }}
            <div class="direction-{{ if mod $i 2 | eq 0 }}r{{else}}l{{ end }}">
            {{ else }}
              <div class="direction-{{ if mod $i 2 | eq 0 }}r{{else}}l{{ end }}" id="start_{{ $year}}">
              {{ $years = $years | append $year }}
            {{ end}}

              <div class="flag-wrapper">
                <span class="hexa"></span>
                <span class="flag">{{ $v.Title }}</span>
                {{ $date_arr := split $v.Params.year "-" }}
                {{ $year := index $date_arr 0 }}
                {{ $month_str := ""}}
                {{ if (index $date_arr 1) | ne "00" }}
                  {{ $m := sub (int ((index $date_arr 1) | strings.TrimLeft "0")) 1 }}
                  {{ $month_str = index $months_str $m }}
                {{ end}}
                <span class="time-wrapper"><span class="time">{{ T $month_str }} {{ $year }}</span></span>
              </div>
              <div class="desc"><div class="video"><a href="{{ $v.Params.youtube }}"><img src="{{ $v.Params.thumbnail }}"/></a></div><p>{{ $v.Content }}</p></div>
            </div>
          </li>
        {{ end }}
      </ul>
      </div>
    </section>

        {{ partial "footer.html" .}}
  
        <a href="#" class="back_top"> <i class="pe-7s-angle-up"> </i> </a>

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/scrollspy.min.js"></script>
        <script src="js/wavify.js"></script>
        <script src="js/TweenMax.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.simple-text-rotator.js"></script>
        <script src="js/typed.js"></script>
        <script src="js/jquery.wavify.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/kpd.js"></script>
        {{ partial "js.html" .}}
    </body>
</html>